.finalize {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.final-preview {
  width: 605px;
  /* height: px; */
  /* background: orange; */
  margin-top: 50px;
  margin-left: 370px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25);
}
.finalize-img {
  display: flex;
  margin-left: 40px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* background: limegreen; */
  width: 1300px;
}

#download{
  width: 100px;
  margin-left: 630px;
  margin-top: 30px;
  border: none;
  outline: none;
  /* text-decoration: none; */
  background:  #F6F5F7;
  cursor: pointer;
}