.landing-content{
    width: 700px;
    margin-left: 350px;
    margin-top: 50px;
    /* background: chartreuse; */
}

.landing-img{

}

.landing-img img{
    /* object-fit: contain; */
    width: 500px;
    height: 300px;
    margin-left: 100px;
    margin-top: 30px;
    /* border: 2px solid lime; */
    box-shadow: 0 2px 9px #FF4B2B; 
    border-radius: 10px;
}

#landing-btn{
    width: 200px;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 250px;
    background: #FF4B2B;
    border-radius: 8px;
    padding: 10px;
    /* color: white; */
    outline: none;
    color: white;
    transition: transform 1.2s;
}

#landing-btn:hover{
    background: #e64023;
    /* transition: all .4s ease; */
    color: white;
    transform: scale(1.2);
}

#heading{
    text-align: center;
}

#p-tag{
    margin-left: 40px;
    font-size: 20px;
}


