@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

.login {
  font-family: "Montserrat", sans-serif;
  display: flex;
  /* flex-direction: column; */
  width: 800px;
  height: 450px;
  margin-left: 300px;
  margin-top: 50px;
  /* background: violet; */
  /* box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.25); */
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  background: white;
}

.form-div {
  width: 400px;
  /* background: violet; */
  /* background: orange; */
  /* margin-top: 50px; */
  height: 400px;
  overflow: hidden;
  background: white;
  text-align: center;
  margin-top: 80px;
}

.form-div-2 {
  width: 400px;
  /* background: #FF416C; */
  /* background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C); */
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  color: white;
  text-align: center;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

.form-div-2-content {
  margin-left: 50px;
  width: 80%;
  margin-top: 150px;
}

#ghost-1 {
  font-size: 15px;
  outline: none;
  background: transparent;
  border: none;
  border: 1px solid white;
  padding: 10px;
  border-radius: 30px;
  color: white;
  width: 130px;
  margin-left: 100px;
  cursor: pointer;
}


.email-div {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
}

.password-div {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: auto;
  margin-top: 20px;
  overflow: hidden;
}

#email {
  height: 40px;
  border: none;
  background: #eee;
  outline: none;
  border-radius: 3px;
  font-size: 15px;
}

#pw {
  height: 40px;
  border: none;
  background: #eee;
  outline: none;
  border-radius: 3px;
  font-size: 15px;
}

#confirm-pw {
  height: 40px;
  border: none;
  background: #d1ffc3;
  outline: none;
  border-radius: 3px;
  font-size: 15px;
}


.confirm-div {
  display: flex;
  flex-direction: column;
  width: 450px;
  margin: auto;
  margin-top: 20px;
}

#for-confirm-pw {
  color: #b2bec3;
  font-size: 15px;
}

#heading {
  text-align: center;
}

#submit-btn {
  /* text-align: center; */
  font-size: 15px;
  /* display: flex; */
  /* margin: auto; */
  margin-top: 30px;
  margin-left: 120px;
  height: 35px;
  width: 150px;
  text-align: center;
  border: none;
  border-radius: 20px;
  background: #FF4B2B;
  cursor: pointer;
  color: white;
  transition: transform 0.3s;
  outline: none;
}

#forget{
  text-decoration: none;
  color: black;
}

#submit-btn:hover{
  transform: scale(1.2);
}

.a-and-button{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

