.template-content {
  margin-left: 30px;
  margin-top: 70px;
  width: 1300px;
  height: 500px;
  /* background: chartreuse; */
}

.template-header {
}

#template-heading {
  font-size: 40px;
  margin-left: 300px;
}

#template-p {
  font-size: 20px;
  margin-left: 400px;
}

.template-img {
  /* background: chocolate; */
  width: 1100px;
  height: 350px;
  margin-left: 100px;
  display: flex;
  margin-top: 30px;
  /* background: orange; */
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.template {
  width: 300px;
  height: 300px;
  /* background: red; */
  position: relative;
  margin-top: 50px;
  background: white;
  border: 2px solid lightgray;
  transition: transform 2s;
  border-radius: 3px;
}

.template:hover{
  transform: scale(2);
  z-index: 2;
}

.template img {
  height: 100%;
  width: 100%;
}
.template-btn {
  background: #ff5252;
  border: none;
  outline: none;
  border-radius: 10px;
  padding: 15px;
  position: absolute;
  left: 80px;
  top: 150px;
  cursor: pointer;
  color: white;
}

.selected-skin {
  box-shadow: 0 2px 9px #FF4B2B; 
  border: none;
}
